*{
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
     margin-top: 0; 
     background-color: #373b69;
     font-size: 18px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    border-bottom: 2px solid white;
}

.name{
    font-size: 26px;
    font-weight: bold
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    padding: 15px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color:rgba(222, 12, 12, 0.906);
}
 
.current{
    color: rgba(222, 12, 12, 0.906);
}

#search{
    height: 30px;
    border-radius:25px;
}

.fa , .fa-x {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
  }

/* make active nav for mobile */
/*  this all happens when its clicked
- change ul display to block 
   - width of nav to 100%
   -backgound color
   -padding maybe of thenav links

   look at nav in portfolio i think that uses js for the ham
*/






/* link states that they are in 
-link , visited, hover, active 
*/
/* When the screen is less than 860 pixels wide  hide all the links and search*/
@media screen and (max-width: 860px) {
    ul a{display: none;}
    /* input{display: none;} */
    .sticky{display: none;}

    .fa{
        display: block;
        position: absolute;
        right: 50px;
        top: 25px;
        font-size: 25px;
        color: white;
        float: right;
    
    }
}

/* Then here in an other media block youd want the style of nav responsive to show when you use js*/
@media screen and (max-width: 860px) {

}

.content{
    margin: 100px 200px;
}

/*---------------- faq section------------------ */
.faq-name {
    margin: 50px 0 30px;
    text-align: center;
    color: whitesmoke;
  }

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq{
    background-color: transparent;
    border:1px solid grey;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    /* here faq needs to be relative so that the faq-toggle can be absolute */
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}


.faq-title {
    margin: 0 35px 0 0;
    font-size:30px;
  }
  
  .faq-text {
    display: none;
    margin: 30px 0 0;
  }
  

  .faq-toggle{
      /* this is the grey background you see */
      background-color: transparent;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      /* this below i dont get unless its for the toggle to be in the middle of the background*/
      /* i think whats flex here is the x and the chevron */
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      padding: 0;
      /* this makes the x and arriw down be top right position*/
      position: absolute;
      top: 30px;
      right: 30px;
      height: 30px;
      width: 30px;
  }

  .faq-toggle .fa-x {
    display: none;
  }

  /* this get rid of outline of button */
  .faq-toggle:focus {
    outline: 0;
  }
  /* everything here below is the active faq */

  .faq.active{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

  .faq.active .faq-text {
    display: block;
  }
  
  .faq.active .faq-toggle .fa-x {
    color: rgba(222, 12, 12, 0.906);
    display: block;
  }
 
  .faq.active .faq-toggle{
      background-color: grey;
  }
  
  .faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }
